.footer-position {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-top: 1px solid black;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  background: white;
}
.footer-text-name {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff8a00),
    to(#e52e71)
  );
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin-left: 0.3rem;
}
.footer-text {
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin-right: 0.3rem;
}
.footer-link {
  color: black;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.08rem;
  margin-left: 1rem;
  font-weight: 500;
}
