.footer-position {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0px -4px 5px 0px rgba(57, 63, 72, 0.3);
  box-shadow: 0px -4px 5px 0px rgba(57, 63, 72, 0.3);
  line-height: 1.25;
  padding: 1rem 0;
}
.footer-text-name {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff8a00),
    to(#e52e71)
  );
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin-left: 0.3rem;
  line-height: 1.25;
}
.footer-text {
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin-right: 0.3rem;
  line-height: 1.25;
}
.footer-link {
  color: black;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.08rem;
  margin-left: 1rem;
  font-weight: 500;
  line-height: 1.25;
}
