header {
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.navmenu {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
.logo {
  color: #222326;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
}
.navitem {
  color: #3bade4;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
}
